node_modules/
.DS_Store
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/.idea/
android/*.iml
android/app/*.iml
android/capacitor-cordova-android-plugins/build/
*.keystore
*.jks
